stages:
  - dev-k8s-build
  - dev-k8s-check
  - dev-k8s-checkdependency
  - dev-k8s-deploy
  - dev-k8s-test
  - tag-build-aws-eks-mix-demo
  - tag-deploy-aws-eks-mix-demo
  - tag-test-aws-eks-mix-demo
  - tag-build-aws-eks-mix-sit
  - tag-deploy-aws-eks-mix-sit
  - tag-test-aws-eks-mix-sit
  - tag-build-aws-eks-mix-uat
  - tag-deploy-aws-eks-mix-uat
  - tag-test-aws-eks-mix-uat
  - tag-build-aws-eks-prd
  - tag-deploy-aws-eks-prd
  - tag-test-aws-eks-prd

variables:
  TAG: ""

dev-k8s-build:
  stage: dev-k8s-build
  tags:
    - ws-dev-k8s-runner
  rules:
    - if: $CI_MERGE_REQUEST_LABELS == 'ws-k8s-dev' && $CI_PIPELINE_SOURCE == 'merge_request_event'
  script:
    - version=$(date +'%Y-%m-%d-%H-%M')
    - echo $version
    - echo "VERSION=$version" > build.env
    - cd ./ws-dev-k8s-spring
    - bash ../spring/build.sh dev $version
    - echo "k8s-dev build"
  artifacts:
    paths:
      - ./**/target/classes
    reports:
      dotenv: build.env
    expire_in: 1 week

dev-k8s-check:
  stage: dev-k8s-check
  tags:
      - ws-sonar-qube-runner  # name of gitlab runner tag
  rules:
    - if: $CI_MERGE_REQUEST_LABELS == 'ws-k8s-dev' && $CI_PIPELINE_SOURCE == 'merge_request_event'
  image: 
    name: sonarsource/sonar-scanner-cli:5.0
    entrypoint: [""]
  variables:
    GIT_DEPTH: 0
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script: 
    - sonar-scanner
  allow_failure: true
  needs:
    - dev-k8s-build

dev-k8s-checkdependency:
  stage: dev-k8s-checkdependency
  tags:
    - ws-sonar-qube-runner
  rules:
    - if: $CI_MERGE_REQUEST_LABELS == 'ws-k8s-dev' && $CI_PIPELINE_SOURCE == 'merge_request_event'
  image: 
    name: aquasec/trivy:latest
    entrypoint: [""]
  script:
    - trivy fs --scanners vuln --exit-code 0 --severity CRITICAL,HIGH . --format json --output trivy-report.json
  allow_failure: true
  artifacts:
    paths:
      - trivy-report.json
  needs:
    - dev-k8s-build
    - dev-k8s-check

dev-k8s-deploy:
  stage: dev-k8s-deploy
  tags:
    - ws-dev-k8s-runner
  rules:
    - if: $CI_MERGE_REQUEST_LABELS == 'ws-k8s-dev' && $CI_PIPELINE_SOURCE == 'merge_request_event'
  script:
    - echo "VERSION:" $VERSION
    - cd ./ws-dev-k8s-spring
    - bash ../spring/deploy.sh dev-k8s $VERSION
    - echo "k8s-dev deploy"
  needs:
    - dev-k8s-build
    - dev-k8s-check

dev-k8s-test:
  stage: dev-k8s-test
  tags:
    - ws-dev-k8s-runner
  rules:
    - if: $CI_MERGE_REQUEST_LABELS == 'ws-k8s-dev' && $CI_PIPELINE_SOURCE == 'merge_request_event'
  script:
    - echo "VERSION:" $VERSION
    - cd ./ws-dev-k8s-spring
    - bash ../spring/unit-test.sh dev-k8s $VERSION
    - echo "dev testing"
  needs:
    - dev-k8s-build
    - dev-k8s-deploy

tag-build-aws-eks-mix-demo:
  stage: tag-build-aws-eks-mix-demo
  tags:
    - aws-cloud-eks-mix-runner
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-mix-demo'
  script:
    - echo "CI_COMMIT_TAG=$CI_COMMIT_TAG" 
    - echo "CI_COMMIT_TAG_ENV=$CI_COMMIT_TAG_ENV"
    - cd ./aws-mix-demo-spring
    - bash build.sh aws-cloud-eks-demo $CI_COMMIT_TAG
    - echo "build $CI_PROJECT_NAME $CI_COMMIT_TAG_ENV $CI_COMMIT_TAG Succeed"

tag-deploy-aws-eks-mix-demo:
  stage: tag-deploy-aws-eks-mix-demo
  tags:
    - aws-cloud-eks-mix-runner
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-mix-demo'
  script:
    - echo "CI_COMMIT_TAG=" && echo $CI_COMMIT_TAG
    - echo "CI_COMMIT_TAG_ENV=" && echo $CI_COMMIT_TAG_ENV
    - cd ./aws-mix-demo-spring
    - bash deploy.sh demo-eks $CI_COMMIT_TAG
    - echo "deploy $CI_PROJECT_NAME $CI_COMMIT_TAG_ENV $CI_COMMIT_TAG Succeed"
  needs:
    - tag-build-aws-eks-mix-demo

tag-test-aws-eks-mix-demo:
  stage: tag-test-aws-eks-mix-demo
  tags:
    - aws-cloud-eks-mix-runner
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-mix-demo'
  script:
    - echo "CI_COMMIT_TAG=" && echo $CI_COMMIT_TAG
    - echo "CI_COMMIT_TAG_ENV=" && echo $CI_COMMIT_TAG_ENV
    - cd ./aws-mix-demo-spring
    - bash unit-test.sh demo-eks $CI_COMMIT_TAG
    - echo "test $CI_PROJECT_NAME $CI_COMMIT_TAG_ENV $CI_COMMIT_TAG Succeed"
  needs:
    - tag-deploy-aws-eks-mix-demo

tag-build-aws-eks-mix-sit:
  stage: tag-build-aws-eks-mix-sit
  tags:
    - aws-cloud-eks-mix-runner
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-mix-sit'
  script:
    - echo "CI_COMMIT_TAG=$CI_COMMIT_TAG" 
    - echo "CI_COMMIT_TAG_ENV=$CI_COMMIT_TAG_ENV"
    - echo "CI_MOD=$CI_MOD" 
    - cd ./aws-mix-sit-spring
    - bash ../spring/build.sh sit $CI_COMMIT_TAG
    - echo "build $CI_PROJECT_NAME $CI_COMMIT_TAG_ENV $CI_COMMIT_TAG Succeed"

tag-deploy-aws-eks-mix-sit:
  stage: tag-deploy-aws-eks-mix-sit
  tags:
    - aws-cloud-eks-mix-runner
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-mix-sit'
  script:
    - echo "CI_COMMIT_TAG=" && echo $CI_COMMIT_TAG
    - echo "CI_COMMIT_TAG_ENV=" && echo $CI_COMMIT_TAG_ENV
    - cd ./aws-mix-sit-spring
    - bash deploy.sh sit-eks $CI_COMMIT_TAG
    - echo "deploy $CI_PROJECT_NAME $CI_COMMIT_TAG_ENV $CI_COMMIT_TAG Succeed"
  needs:
    - tag-build-aws-eks-mix-sit

tag-test-aws-eks-mix-sit:
  stage: tag-test-aws-eks-mix-sit
  tags:
    - aws-cloud-eks-mix-runner
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-mix-sit'
  script:
    - echo "CI_COMMIT_TAG=" && echo $CI_COMMIT_TAG
    - echo "CI_COMMIT_TAG_ENV=" && echo $CI_COMMIT_TAG_ENV
    - cd ./aws-mix-sit-spring
    - bash unit-test.sh sit-eks $CI_COMMIT_TAG
    - echo "test $CI_PROJECT_NAME $CI_COMMIT_TAG_ENV $CI_COMMIT_TAG Succeed"
  needs:
    - tag-deploy-aws-eks-mix-sit

tag-build-aws-eks-mix-uat:
  stage: tag-build-aws-eks-mix-uat
  tags:
    - aws-cloud-eks-mix-runner
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-mix-uat'
  script:
    - echo "CI_COMMIT_TAG=$CI_COMMIT_TAG" 
    - echo "CI_COMMIT_TAG_ENV=$CI_COMMIT_TAG_ENV"
    - echo "CI_MOD=$CI_MOD" 
    - cd ./aws-mix-uat-spring
    - bash ../spring/build.sh uat $CI_COMMIT_TAG
    - echo "build $CI_PROJECT_NAME $CI_COMMIT_TAG_ENV $CI_COMMIT_TAG Succeed"

tag-deploy-aws-eks-mix-uat:
  stage: tag-deploy-aws-eks-mix-uat
  tags:
    - aws-cloud-eks-mix-runner
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-mix-uat' && $CI_MOD != 'build_only'
  script:
    - echo "CI_COMMIT_TAG=" && echo $CI_COMMIT_TAG
    - echo "CI_COMMIT_TAG_ENV=" && echo $CI_COMMIT_TAG_ENV
    - cd ./aws-mix-uat-spring
    - bash ../spring/deploy.sh uat-eks $CI_COMMIT_TAG
    - echo "deploy $CI_PROJECT_NAME $CI_COMMIT_TAG_ENV $CI_COMMIT_TAG Succeed"
  needs:
    - tag-build-aws-eks-mix-uat

tag-test-aws-eks-mix-uat:
  stage: tag-test-aws-eks-mix-uat
  tags:
    - aws-cloud-eks-mix-runner
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-mix-uat' && $CI_MOD != 'build_only'
  script:
    - echo "CI_COMMIT_TAG=" && echo $CI_COMMIT_TAG
    - echo "CI_COMMIT_TAG_ENV=" && echo $CI_COMMIT_TAG_ENV
    - cd ./aws-mix-uat-spring
    - bash ../spring/unit-test.sh uat-eks $CI_COMMIT_TAG
    - echo "test $CI_PROJECT_NAME $CI_COMMIT_TAG_ENV $CI_COMMIT_TAG Succeed"
  needs:
    - tag-deploy-aws-eks-mix-uat


tag-build-aws-eks-prd:
  stage: tag-build-aws-eks-prd
  tags:
    - aws-cloud-eks-prd-runner
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-prd'
  script:
    - echo "CI_COMMIT_TAG=$CI_COMMIT_TAG" 
    - echo "CI_COMMIT_TAG_ENV=$CI_COMMIT_TAG_ENV"
    - echo "CI_MOD=$CI_MOD" 
    - cd ./aws-prd-eks-spring
    - bash ../spring/build.sh prd $CI_COMMIT_TAG
    - echo "build $CI_PROJECT_NAME $CI_COMMIT_TAG_ENV $CI_COMMIT_TAG Succeed"

tag-deploy-aws-eks-prd:
  stage: tag-deploy-aws-eks-prd
  tags:
    - aws-cloud-eks-prd-runner
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-prd' && $CI_MOD != 'build_only'
  script:
    - echo "CI_COMMIT_TAG=" && echo $CI_COMMIT_TAG
    - echo "CI_COMMIT_TAG_ENV=" && echo $CI_COMMIT_TAG_ENV
    - cd ./aws-prd-eks-spring
    - bash ../spring/deploy.sh sit-k8s $CI_COMMIT_TAG
    - echo "deploy $CI_PROJECT_NAME $CI_COMMIT_TAG_ENV $CI_COMMIT_TAG Succeed"
  needs:
    - tag-build-aws-eks-prd

tag-test-aws-eks-prd:
  stage: tag-test-aws-eks-prd
  tags:
    - aws-cloud-eks-prd-runner
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-prd' && $CI_MOD != 'build_only'
  script:
    - echo "CI_COMMIT_TAG=" && echo $CI_COMMIT_TAG
    - echo "CI_COMMIT_TAG_ENV=" && echo $CI_COMMIT_TAG_ENV
    - cd ./aws-prd-eks-spring
    - bash ../spring/unit-test.sh sit-k8s $CI_COMMIT_TAG
    - echo "test $CI_PROJECT_NAME $CI_COMMIT_TAG_ENV $CI_COMMIT_TAG Succeed"
  needs:
    - tag-deploy-aws-eks-prd
