---

- name: Get /etc/yum.repos.d/epel.repo
  stat: path=/etc/yum.repos.d/epel.repo
  register: epel_repo

- name: "Install epel repo"
  dnf:
    name: 'epel-release.noarch'
    state: latest
  when: epel_repo.stat.exists is defined and epel_repo.stat.exists == False

- name: "Set yum.conf exclude kernel*  centos-release* docker* kube*"
  ini_file:
    dest: /etc/yum.conf
    section: "main"
    option: 'exclude'
    value: 'kernel* centos-release* docker* kube*'
    no_extra_spaces: yes

- name: Install the 'Development tools' package group
  ansible.builtin.dnf:
    name: '@Development tools'
    state: present

- name: Install python3-devel
  dnf:
    name: python3-devel
    state: present

#- name: group install Development Tools
#  yum:
#    name: "@Development tools"
#    state: present
#    exclude: kernel*,centos-release*,docker*

#- name: Install the 'Development tools' package group
#  yum:
#    name: "@Development tools"
#    state: present
#    exclude: kernel*,centos-release*,docker*

#- name: Install packages
#  dnf:
#    pkg:
#      - iftop
#      - bash-completion
#      - bind-utils
#      - chrony
#      - conntrack
#      - curl
#    state: latest
#    update_cache: true

- name: Install packages
  dnf:
    name: "{{ pkg_list }}"
    state: present

- name: Upgrade all packages, excluding kernel
  dnf:
    name: '*'
    state: latest
    exclude: "*"